html, body {
    height: 100vh;
    width: 100%;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    border: 5px solid red;
}

tr {
    height: 100%;
}

.td1 {
    text-align: center;
    background-color: green; 
    color: white; 
    font-size: 36px; 
    width: 50%;
}

.td2 {
    text-align: center;
    background-color: blue; 
    color: white; 
    font-size: 36px; 
    width: 50%;
}